<div class="w-full h-90vh bg-black flex justify-center flex-col gap-10 items-center">
    <h1 class=" absolute bottom-4 right-4 text-white">Created by Akash</h1>
    <h1 class="text-5xl text-white  monospace-regular font-semibold hover:text-shadow">Welcome to the Family of</h1>
    <h1 class="text-5xl text-orange-400  monospace-regular font-semibold hover:text-shadow">Manchus</h1>
    <a routerLink="/members" class="text-2xl  hover:shadow-[0px_-2px_52px_1px_#61470a]  font-medium text-orange-400 px-7 py-3 rounded-sm border-2 border-orange-400  bg-gray-950">Explore</a>
</div>
