<div class="w-full h-90vh flex-col gap-10 bg-black flex justify-center items-center text-white poppins-regular">
  <h1 class=" absolute bottom-4 right-4 text-white">Created by Anil</h1>
  <h1 class="text-3xl font-semibold">Family Members</h1>
  <div class="grid grid-cols-10 px-5 py-10 border-2 border-gray-700 rounded-md hover:shadow-[0px_-2px_52px_1px_#4a5568] bg-gray-950">
    <div class="col-span-3">
        <h1 class="flex  items-center text-2xl font-medium">Father </h1>
        <h1 class="text-2xl font-medium">Mother </h1>
        <h1 class="text-2xl font-medium">Daughter </h1>
        <h1 class="text-2xl font-medium">Son </h1>
    </div>
    <div class="flex justify-center items-start pl-10 flex-col col-span-7">
        <h1 class="text-2xl font-medium">: Virat kolhi</h1>
        <h1 class="text-2xl font-medium">: Anushka Sharma</h1>
        <h1 class="text-2xl font-medium">: Vamika Kohli</h1>
        <h1 class="text-2xl font-medium">: Akaay kolhi</h1>
    </div>
  </div>
</div>
